@keyframes morph {
  0%, 100% {
    border-radius: 50%;
  }
  25% {
    border-radius: 40% 60% 60% 40% / 60% 40% 60% 40%;
  }
  50% {
    border-radius: 30% 70% 70% 30% / 70% 30% 70% 30%;
  }
  75% {
    border-radius: 40% 60% 60% 40% / 60% 40% 60% 40%;
  }
}


.profileImage {
  width: 300px;
  height: auto; /* Adjust as needed if you want a fixed height */
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  animation: morph 8s infinite ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black; /* Adjust the border color and size as needed */
  overflow: hidden;
}

/* If you are using an actual image element inside .profileImage, add a class to it */

